@model SellingReport.Models.ViewModels.ProductSellingReportViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductSellingReport</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingReport.Product)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.ProductSellingReport.ProductId, Model.Products)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingReport.Country)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.ProductSellingReport.CountryId, Model.Countries)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingReport.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductSellingReport.Date, new { @value = DateTime.Now.Date }) 
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingReport.SoldPieces)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductSellingReport.SoldPieces)
            @Html.ValidationMessageFor(model => model.ProductSellingReport.SoldPieces)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingReport.SoldValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductSellingReport.SoldValue)
            @Html.ValidationMessageFor(model => model.ProductSellingReport.SoldValue)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/productsellingreport")
}
