@model SellingReport.Models.ViewModels.ProductSellingYearlyReportViewModel

@{
    ViewBag.Title = "Edit Plan";
}
@{
    Html.EnableClientValidation(false);
}
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductSellingPlan</legend>

        @Html.HiddenFor(model => model.ProductSellingYearlyReport.ProductSellingYearlyReportId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingYearlyReport.ProductId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.ProductSellingYearlyReport.ProductId, Model.Products)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingYearlyReport.CountryId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.ProductSellingYearlyReport.CountryId, Model.Countries)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingYearlyReport.Month)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.ProductSellingYearlyReport.Month, Model.Month)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingYearlyReport.Year)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.ProductSellingYearlyReport.Year, Model.Year)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingYearlyReport.PlannedValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductSellingYearlyReport.PlannedValue)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingYearlyReport.PlannedPieces)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductSellingYearlyReport.PlannedPieces)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingYearlyReport.SoldValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductSellingYearlyReport.SoldValue)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductSellingYearlyReport.SoldPieces)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductSellingYearlyReport.SoldPieces)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
