@using System.Globalization
@model SellingReport.Models.ViewModels.SellingReportTableViewModel
@{
    ViewBag.Title = "Home Page";
}
@{
    if (Model != null)
    {

        var date = Convert.ToDateTime(Model.Date);
        var textInfo = new CultureInfo("en-US", false).TextInfo;

        <div id="header">
            <div id="header-table">
                <table>
                    <thead>
                        <tr>
                            <th class="month">@textInfo.ToTitleCase(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(date.Month))</th>
                            <th class="date">@Model.Date</th>
                            <th class="menu-button">@Html.ActionLink("Reports", "Index", "ProductSellingReport", new { }, new { @class = "button" })</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="main">
            <div id="main-table">
                <table>
                    @{
        var i = 0;
        foreach (var line in Model.SellingReportTable)
        {
            var cssClassPlan = "";
            var cssClass = "";
            var cssClassSum = "header";
            if (i > 0)//&& i != Model.SellingReportTable.Count - 1)
            {
                cssClassPlan = "green";
                if (!line.OnPlan)
                {
                    cssClassPlan = "red";
                }
            }
            //else if (i == Model.SellingReportTable.Count - 1)
            //{
            //    cssClassPlan = "green right";
            //    cssClass = "right";
            //    if (!line.OnPlan)
            //    {
            //        cssClassPlan = "red right";
            //        cssClass = "right";
            //    }
            //    cssClassSum = "right";
            //}
            else
            {
                cssClassPlan = "left";
                cssClass = "left";
            }
            var cssClassPlanPercentage = cssClassPlan + " percentage";
            <tr>
                <td class="@cssClassSum">@line.Name</td>
                <td class="@cssClass">@line.MonthlyPlan</td>
                <td class="@cssClass">@line.MonthlyPlanToDate</td>
                <td class="@cssClassPlan">@line.SoldPieces</td>
                <td class="@cssClassPlanPercentage">@line.SoldPercentage</td>
                <td style="position: relative;">
                    @{
            if (line.Image != null)
            {
                var base64 = Convert.ToBase64String(line.Image);
                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                <img src="@imgSrc" width="50" style="position: relative;" />
            }
                    }
                    <div class="overlay-top"></div>
                </td>

            </tr>
            i++;
        }
                    }
                </table>
            </div>
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/home/report")
        }
    }
    else
    {
        <div>There is something  wrong with the data!</div>
    }
}
