@model IEnumerable<SellingReport.Models.Models.Country>
@{
    ViewBag.Title = "Home Page";
}
<div id="tabs">
    <ul>@{ var i = 0;}
        @foreach (var item in Model)
        {
            //if (i == 0) { 
                 <li><a href="#@item.Name" id="@item.CountryId">@item.Name</a></li>
            //}
            //i++;
        }
    <li><a href="#AllMarkets" id="0">All Markets</a></li>
    </ul>

    @foreach (var item in Model)
    {
        <div id="@item.Name"></div>
        <div id="AllMarkets"></div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/home")
@Scripts.Render("~/bundles/home/report")
}
