@using System.Globalization
@model IEnumerable<SellingReport.Models.Models.Holiday>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day).
        </td>
        <td>
            @{
                var textInfo = new CultureInfo("en-US", false).TextInfo;
                @textInfo.ToTitleCase(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month))
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HolidayId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HolidayId })
        </td>
    </tr>
}

</table>
