@using System.Globalization
@using PagedList.Mvc
@model PagedList.PagedList<SellingReport.Models.Models.Holiday>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Country
        </th>
        <th>
           Day
        </th>
        <th>
            Month
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day).
        </td>
        <td>
            @{
                var textInfo = new CultureInfo("en-US", false).TextInfo;
                @textInfo.ToTitleCase(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month))
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HolidayId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HolidayId })
        </td>
    </tr>
    }
    <tr>
        <td colspan="4">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
            Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Clients
        </td>
    </tr>

</table>
